{%extends 'nav_and_footer.html' %}

{%block content%}
{% load static %}
    <h1>Tips for Buying a Graphics Card</h1>
    <section class="define">
        
        <div class="par">
            <p>Graphics card can be an upgrade or downgrade to your computer if you did not 
                know about the compatibility of your graphics card to computer. To avoid it, you can 
                search the google before if the graphics card that you are planning to buy is 
                compatible your computer components.  
            </p>
        </div>
        <div>
            <img src="pic/amd graph.webp" alt="AMD Graphics Card" width="225px">
        </div>
    </section>
    <section class="define">
        <div>
            <img src="pic2/nvidia graph.png" alt="Intel Processor" width="220px">
        </div>
        <div class="par">
            <p>Also avoid buying second hand graphics card if you do not know how to check 
                the components because there is a lot that sell things that is not working. 
                It is safe that if you are planning to buy a second hand, you should for proffessional
                in pc building or people friends that has a lot of experience in checking computer
                components.
            </p>
        </div>   
    </section>
{%endblock%}