{%extends 'nav_and_footer.html' %}

{%block content%}
{% load static %}
    <h1>Tips for Buying a Processor</h1>
    <section class="define">
        
        <div class="par">
            <p>When buying a processor we should always consider where will we use it. Like what I said earlier, if we 
                gonna use it for gaming, AMD is the recommended processor for you especially to budget gamers because AMD
                processor has built in gpu that can run popular games such as GTA V and Valorant.  
            </p>
        </div>
        <div>
            <img src="pic/amd.jpg" alt="AMD Processor" width="225px">
        </div>
    </section>
    <section class="define">
        <div>
            <img src="pic/intel.jpg" alt="Intel Processor" width="220px">
        </div>
        <div class="par">
            <p>While Intel processor can also run popular games but it needs a dedicated graphics to have a better experience
                especially the older processor like the 5th gen of processors. But in terms of software compatibility, intel
                is the best because there's a lot of software that support it especially the production softwares like Adobe
                softwares. 
            </p>
        </div>
        
    </section>
{%endblock%}