{%extends 'nav_and_footer.html' %}

{%block content%}
{% load static %}
    <h1>Random Access Memory</h1>
    <section class="define">
        
        <div>
            <img src="pic2/ram.jpg" alt="Mother Board" width="200px">
        </div>
        <div class="par">
            <p>While our favorite application is running it consumes a memory to save short term information.

                That is the function of RAM, it was used by the softwares that you used to store short term information then delete it after the application was used.
                
                RAM also helps our computer to run faster. The higher ram , the more application that you can open simultaneously. 
            </p>
            
        </div>
    </section>
    <section class="define">
        
        <div class="par">
            <p>
                Be aware of buying RAM, because it differs depending on you processor and motherboard compatibility.
                Because there different types of RAM. These are DDR1 upto DDR4 RAM. Also, keep in
                practice that whenever we buy ram make sure that its the same brand and have the same gb and mhz to
                avoid having a problem. Though using different brands and different sizes will still work but the problem
                in my experience it will produce some glitching and graphics problem.</p>
        </div>
        <div>
            <img src="pic2/ramtypes.jpg" alt="Mother Board" width="175px">
        </div>
    </section>
{%endblock%}