{%extends 'nav_and_footer.html' %}

{%block content%}
{% load static %}
    <div class="ref">
        <h1>References</h1>
        <p><a href="https://www.redhat.com/sysadmin/cpu-components-functionality">https://www.redhat.com/sysadmin/cpu-components-functionality</p></a>
        <p><a href="https://www.idtech.com/blog/parts-of-a-computer">https://www.idtech.com/blog/parts-of-a-computer</p></a>
        <p><a href="https://www.tomshardware.com/features/amd-vs-intel-cpus">https://www.tomshardware.com/features/amd-vs-intel-cpus</p></a>
    </div>
    
{%endblock%}