{%extends 'nav_and_footer.html' %}

{%block content%}
{% load static %}
    <h1>Tips for Buying a Storage</h1>
    <section class="define">
        
        <div class="par">
            <p>If you want to save money or you do not have enough money to buy for an solid state drive
                you may use hard disk drive. Because its advantage is it cost less and you will have 
                bigger storage capacity. But you should always take care of it and prevent from
                being drop or shaken because it might destroy the parts inside the hard disk.
            </p>
        </div>
        <div>
            <img src="pic2/hardisksss.webp" alt="AMD Graphics Card" width="225px">
        </div>
    </section>
    <section class="define">
        <div>
            <img src="pic2/ssdddss.jpg" alt="Intel Processor" width="220px">
        </div>
        <div class="par">
            <p>Now if you can buy a solid state drive I really recommend it to you because it gives you
                a lot of advantages like faster booting of operating system and softwares. It may cost 
                high but it will relieve you from a lot stress when using your computer because of its 
                smoother operation.  
            </p>
        </div>
        
    </section>
{%endblock%}